<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>
    <div class="frint-container">
        <h2> register</h2>
        <form action ="/register" method=""post>
            <div class ="form-group">
                <label for ="name"></label>
                <input type ="text" id="name" name="username" placeholder="Enter your name" required autocomplete="off">
            </div>
            <div class="form-group">
                <label for="password"> password :</label>
                <input type="password" name="password" id="password" placeholder="password" required>
            </div>
            <button type="submit" class="submit-btn">register</button>
        </form>
        <!-- <p> Dont have account ? <a href="/register"> register</a></p> -->

    </div>   
</body>
</html>